.marquee {
    width: 100%;  /* Full width */
    overflow: hidden;  /* Hide the text when it's outside the container */
    white-space: nowrap;  /* Prevent text from wrapping */
}

.marquee-text {
  display: inline-block;
  padding-left: 60%;  /* Start outside the visible area */
  animation: marquee 8s linear infinite;  /* Animation details */
}

  @keyframes marquee {
    0% {
      transform: translateX(100%);  /* Start from the right */
    }
    100% {
      transform: translateX(-100%);  /* Move to the left */
    }
  }